.error
{
    color:red;
    position: absolute;
    left: 335px;
}
.form-element
{
    width: 500px;
    display: block;
    margin: 20px;
    padding: 10px;
    border: solid lightgray;
    border-width: 3px;
}
.btn
{
    margin-left: 30px;
    padding: 5px;
}
.inp
{
    position: absolute;
    left: 150px;
    margin-left: 30px;
}
